<!DOCTYPE HTML>
<html>
 <head>
<title>XRPL Portable Terminal Hub</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>      
</head>
<body>
<div class="container text-center">
<img src="https://raw.githubusercontent.com/XRPL-Labs/xumm-api/master/public_html/assets/images/logo-xumm.svg"  alt="XUMM Logo" class="img-fluid" alt="XUMM Logo"  width=150" height="150">
</div>
<div class="jumbotron jumbotron-fluid">
<div class="container text-center">
<h1>XRPL Portable Terminal Hub</h1> 
<p>A Portable Terminal Hub for XRPL/XUMM.</p>
<a href="/config"  class="btn btn-primary border border-dark btn-sm text-white" role="button" >Xumm Config Setup »</a>
<a href="/payment"  class="btn btn-primary border border-dark btn-sm text-white" role="button" >XRPL Hub Generate Payment Request »</a>
</div>
</div>

<div class="container text-center">
	<div class="well form-group text-center">
		
		  </div>
		  </div>

</body>

</html>
